<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<%= link_to 'Back', posts_path %>

<h2><%= @post.title %>
  <%= link_to "(edit)", edit_post_path(@post) %>
</h2>
<h4><%= @post.author %></h4>

<!-- <h3>Songs
  <%#= link_to "(+)", new_song_path %>
</h3>

<ul>
  <%# @artist.songs.each do |song| %>
    <li>
      <%#= link_to "#{song.title} (#{song.album})", song %>
    </li>
  <%# end %>
</ul> -->
