<h2><%= @post.title %>
  <%= link_to "(edit)", edit_post_path(@post) %>
</h2>
<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>
<p>
  <%= @post.text %>
</p>

<h3>Comments <%= link_to "(+)", new_post_comment_path(@post) %></h3>
<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= link_to "#{comment.text}", post_comment_path(@post, comment) %>
    </li>

  <% end %>
</ul>
<%= link_to 'Back', posts_path %>
