<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav>
    <a href="/signin">Sign in</a>
    <%= link_to 'New post', new_post_path %>
  </nav>
  <header>
    <%= image_tag("scribble.jpg", size: "200x166") %>
  </header>
<%= yield %>
</body>
</html>
